<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar tarea</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-lg">
    <h1>Actualizar tarea</h1>
    <hr>
    <form class="w-50" th:action="@{/updateTarea}" th:object="${tarea}" method="post">
        <input type="hidden" th:field="*{id}">

        <label for="nombre" class="col-form-label">Tarea:</label>
        <input type="text" id="nombre" th:field="*{nombre}" class="form-control">

        <label for="descripcion" class="col-form-label">Descripcion:</label>
        <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control">

        <input type="hidden" th:field="*{fecha}">
        <br>
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
</div>
</body>
</html>